{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<main id="main">
    <h1 class="text-bold text-center">Tableau de bord </h1>
    <section class="container">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            {% for label, messages in app.flashes %}
            {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show text-center" role="alert">
                {% if label == 'success' %}
                <span class="alert-inner--icon"><i class="fe fe-thumbs-up"></i></span>
                {% else %}
                <span class="alert-inner--icon"><i class="fe fe-thumbs-down"></i></span>
                {% endif %}
                <span class="alert-inner--text"><strong>{{ label | title }} : </strong> {{ message | raw }}</span>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <h2 class="text-muted text-center">Les commentaires</h2>
       
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th class="text-center" scope="col">Commentaire</th> 
                <th scope="col">Auteur</th>
                <th scope="col">Voyage</th>            
                <th scope="col">Date de publication</th>
                <th scope="col">Date de modification</th>
                <th scope="col">Date de suppression</th>             
                <th scope="col">Actions</th>
                </tr>
            </thead>
           <tbody>
            {% for commentaire in commentaires %}
            <tr>
                <th>{{commentaire.id}}</th>
                <td title="{{commentaire.comment}}">
                        {{commentaire.comment | length > 40 ? commentaire.comment|slice(0, 55) ~ '...' :
                        commentaire.comment}}
                    </td>
                <td>{{commentaire.user.fullname}}</td>
                <td>{{commentaire.voyage.destination}}</td>
                
                <td>{{commentaire.createdAt | date('d/m/Y')}}</td>
                <td>{# {{commentaire.updatedAt | date('d/m/Y')}} #}</td>
                <td> {# {{commentaire.deletedAt | date('d/m/Y')}} #}</td>
                <td>
                    <a href="{{path('delete_commentaire',{'id': commentaire.id})}}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </tbody>
        </table> 
    </section>
</main>
{% endblock %}