{% extends 'base.html.twig' %}

{% block title %}
	Affichage du Voyage - Voyage-Privée
{% endblock %}

{% block body %}

	{% for voyage in singleVoyage %}

		<div class="container-fluid">
			<div class="row justify-content-evenly align-items-center">
				<div class="col-md-6">
					<div class="card" style="width: 615px;">
						<div class="card-content" >
							<div class="card-body" >
								<img width="580px" src="{{ asset('uploads/' ~ voyage.picture)}}" alt="image">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<h3 class="text-center">{{voyage.villeDepart}}
						{{voyage.destination}}</h3>
					<h5 class="text-center">{{voyage.dureeSejour ~ ' nuits / ' ~ voyage.prix ~ ' €' }} </h5>
					<br><br>
					<p>{{voyage.description}}</p>
					<a href="{{ path('addCart', {id: voyage.id, route : 'fullCart'}) }}" class="btn btn-success col-4 d-block mx-auto mt-5">Réserver</a>			
				</div>
			</div>
		</div>
		{{render(url('commentaire', {'id': voyage.id}))}}
		<section>
			<div class="container">
						{% if commentaire is not null %}
						<h1 class="text-dark text-center" id="avis">Avis</h1>
						<div class="row">
							{% for commentary in commentaire %}
							<div class="col-md-6 pb-4">
								<div class="comment mt-4 text-justify float-left">
									<img src="/images/images.png" alt="" class="rounded-circle" width="40" height="40">
                                    {% if commentary.user %}
									<h4>{{ commentary.user.fullname }}</h4>
									{% else %}
									<h4>Inconnue</h4>
									{% endif %}
									<span>{{commentary.createdAt | date('d/m/Y')}}</span>
									<br>
									<p>{{ commentary.comment }}</p>
										<a href="{{path('delete_commentaire',{'id': commentary.id})}}" class="d-block float-end mb-2"><i class="fa fa-trash text-warning"></i></a>
								</div>
							</div>
							{% endfor %}
						{% endif %}
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}
